<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yihen.jdb"
    android:versionCode="1"
    android:versionName="1.0beta" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <!--权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 应用安装卸载 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>  
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       
        <!-- UI -->
        <activity
            android:name=".ui.activity.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.NavigatorActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RegistFirstActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RegistSecondActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.WelcomeActivity" android:screenOrientation="portrait"/> 
        <activity android:name=".ui.activity.BusinessSearchActivity" android:screenOrientation="portrait"/>

        
        <!-- Broadcast -->
        <receiver android:name=".receiver.BootReceiver"  android:label="@string/app_name">
            <intent-filter>  
             <action android:name="android.intent.action.PACKAGE_ADDED" />  
             <action android:name="android.intent.action.PACKAGE_REMOVED" />  
             <data android:scheme="package" />  
            </intent-filter>  
        </receiver>
        
        
        <!--                                 测试环境                                        -->
        <!--api前缀-->
        <meta-data
                android:name="jdb_http_head"
                android:value="http://192.168.1.121:8080/"/>


        <!--&lt;!&ndash;                                 正式环境                                        &ndash;&gt;-->
        <!--&lt;!&ndash;api前缀&ndash;&gt;-->
        <!--<meta-data-->
                <!--android:name="jdb_http_head"-->
                <!--android:value="http://192.168.1.121:8080/"/>-->

    </application>

</manifest>
